
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color:#FFFCFC;
    color:#090C9B;
    width:100%;
    height:100vh;
  }
  
  .container {
    margin-left:15%;
    height: 100vh;
    padding: 15px 30px;
  }
   a {
    text-decoration: none;
    color:#090C9B;
  }
  li {
    list-style: none;
    margin: 20px;
  }
  li img {
    width: 77px;
    height:64px
  }
  
  .sidebar{
    position:fixed;
    top:0; left:0; bottom:0;
    width:15%;
    height:100vh;
    background: #CECEEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    
  }
  .school-logo {
    display: flex;
   
  }
  .search {
    border-radius:30px ;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1.5px solid #080A81
  }
  .blanket {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .top-left {
    display: flex;
  }
  .border-rotate {
    border-left: 1px #080A81 solid;
    width: 8px;
    margin:  7px;
    
  }
  .admin {
    text-align: center;
    margin-top: 25px;
  }
  
  .bottom {
    border-bottom: 1px rgb(232, 232, 236) solid;
    width: 1080px;
    
  } 
  .title {
    margin: 25px;
  }

  .title-bold {
    font-weight: bold;
  }

  span {
    margin-right: 7px;
  }

  form {
    margin:10px;
    min-width: 300px;
    width: 700px;
    height: 400px;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
   
}
.top-input {
    display: flex;  
}

.sec-input {
    display: flex;
}

.col-two {
    margin-left: 50px;
}

label {
color: black;
}

.input-area {
    display: flex;
    flex-direction: column; 
}

.input-group input, textarea {
    background: #CECEEB ; 
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.input-area {
    margin: 10px 20px;  
}

textarea {
    width: 60%;
}

#cancl-btn {
    border: 1px solid red;
    padding: 7px;
    border-radius: 5px;
    width: 70px;
    color:red;
    background: white;
}

#sub-btn {
    padding: 10px;
    width: 90px;
    border-radius: 5px;
    background:#2B9658;
    color: white;
    border: none;
    margin-left: 30px;
}
#sub-btn:hover {
  width:100px;
  background: blue;
}

#cancl-btn:hover {
  padding: 10px;
    width: 90px;
    color: blue;
    border: 1px solid blue;
}

 .btns {
        margin:20px ;
    }

/* Contend Successful Style*/
.check {
    font-size: 400px;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#success-btn {
color:white;
background: #080A81;
padding: 10px;
width: 70px;
display: flex;
margin: 100px 50px;
border: none;
border-radius: 6px;
}



