:root {
  --debtor-color: #ceceeb;
  --debtor-color2: #090c9b;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}

.container {
  display: flex;
  position: relative;
  left: 290px;
}

li a {
  text-decoration: none;
  color: var(--debtor-color2);
}
li {
  list-style: none;
  margin: 20px;
}
li img {
  width: 77px;
  height: 64px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 100vh;
  background: var(--debtor-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

button {
  background-color: #008000;
  color: #fff;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
}

.debtor-heading {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.debtor-info2 {
  padding-left: 350px;
}

.debtor-info2 h3 {
  color: var(--debtor-color2);
}

.debtor-label p {
  color: var(--debtor-color2);
}

.item {
  position: relative;
  margin: 10px -70px;
}
.item input {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: var(--debtor-color);
  height: 30px;
  width: 195px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.upload {
  font-size: 60px;
  padding-left: 15px;
}
.colums {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.colums div {
  width: 45%;
}

/* DASHBOARD */

.debtor-table {
  padding-left: 350px;
  padding-top: 20px;
  width: 60vw;
}

.debtor-debt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.75rem;
  width: 50vw;
  border: 2px solid #fff;

  padding: 1.25rem 0.75rem;

  transition: 0.5s;
}

.debtor-debt2 {
  border: 3px solid hsl(228, 99%, 98%);
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
}

.debtor-debt2:hover {
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, 0.1);
}
.debtor-debt2 p {
  color: #5d5863;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.debtor-debt2 h3 {
  color: #060867;
}

.debtor-debt2 span {
  color: #3235ac;
  font-size: 20px;
}

table {
  border: 1px solid;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #2f80ed;
  color: #fff;
}

th {
  padding: 30px;
}
td {
  padding: 10px;
}

.trans {
  font-size: 25px;
}
