<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <title>Debt Monitoring Agency</title>
    <link href="views/css/bout.css" rel="stylesheet" type="text/css" />
    <link href="views/css/homepage.css" rel="stylesheet" type="text/css" />
    <link href="views/css/homepage2.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="hood">
      <div class="img"><img src="views/images/Logo.png" alt="images" /></div>
      <!-- <div class="bx bx-menu" id="menu-icon"></div> -->
      <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="About">About Us</a></li>
        <li><a href="pricing">Pricing</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
      <div class="h-btn">
        <a href="login" class="login">Login</a>
        <a href="register" class="register">Register</a>
      </div>
    </header>
    <section class="about-us" id="about-us">
      <div class="ytn">
        <h4>About Us</h4>
        <h1>
          Easy Way To Manage <br />
          Debt Crisis In Your School
        </h1>
        <p>
          We help schools keep a track of debtors to control <br />and prevent
          financial fraud.
        </p>
        <a href="register" class="btn">Sign Up for Free </a>
      </div>
      <img src="views/images/unsplash.jpeg" width="500px " height="500px" />
    </section>

    <section class="trusted" id="trusted">
      <div class="heading">
        <h2>Trusted by over 500+ schools</h2>
      </div>
      <div class="trusted-content">
        <div class="col">
          <img src="views/images/image 7.png" />
          <h3>Word of Faith Int’l School</h3>
        </div>
        <div class="col">
          <img src="views/images/image 11.png" />
          <h3>Saint Mary’s Catholic School</h3>
        </div>
        <div class="col">
          <img src="views/images/image 10.png" />
          <h3>UPSS</h3>
        </div>
      </div>
    </section>
  </body>
</html>
