<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="views/css/dashandadd.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/1e6fa933e1.js"
    crossorigin="anonymous"
  ></script>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav class="sidebar">
          <ul>
            <li><img src="/views/images/Logo.png" id="logo" alt="logo" /></li>
            <li>
              <a href="#Dashboard"
                ><i class="fa-brands fa-windows"></i> Dashboard</a
              >
            </li>
            <li>
              <a href="profile"><i class="fa-solid fa-user"></i> Profile</a>
            </li>
            <li>
              <a href="#Notification"
                ><i class="fa-solid fa-bell"></i> Notification</a
              >
            </li>
            <li>
              <a href="#List of Debtors"
                ><i class="fa-solid fa-user-check"></i> List of Debtors</a
              >
            </li>
            <li>
              <a href="#List of Contends"
                ><i class="fa-solid fa-calendar"></i> List of Contends</a
              >
            </li>
            <li>
              <a href="#List of Contends"
                ><i class="fa-solid fa-question"></i> FAQ/Support</a
              >
            </li>
            <li>
              <form action="/logout?_method=DELETE" method="POST">
              <button
                class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white"
                type="submit"
              >
                Logout
              </button>
            </form>
            </li>
          </ul>
        </nav>
      </header>

      <div class="debtor-heading">
        <div class="debtor-logo">
          <img src="views/images/image 7.png" alt="" />
        </div>
        <div class="debtor-label">
          <h3>Word of Faith Int'l School</h3>
          <p>wordfaithinternationalschool@gmail.com</p>
        </div>

        <hr />

        <div class="Admin"><h4>Welcome:  <%= name %></h4></div>
      </div>
    </div>

    <hr />

    <div class="debtor-table">
       
       <table>
       <tr>
        <th class="trans" colspan="2">Transaction History</th>
       </tr>
        <tr>
            
          <th>DATE</th>
          <th >DESCRIPTION</th>
          <th>TOTAL AMOUNT(₦)</th>
          <th >AMOUNT PAID(₦)</th>
        </tr>
        <tr>
          <td>21-05-22</td>
          <td >School fees</td>
          <td>75,000</td>
          <td >50,000</td>
        </tr>
        <tr>
            <td>21-05-22</td>
            <td >School fees</td>
            <td>75,000</td>
            <td >50,000</td>
          </tr>
          <tr>
            <td>21-05-22</td>
            <td >School fees</td>
            <td>75,000</td>
            <td >50,000</td>
          </tr>
          <tr>
            <td>21-05-22</td>
            <td >School fees</td>
            <td>75,000</td>
            <td >50,000</td>
          </tr>
          <tr>
            <td>21-05-22</td>
            <td >School fees</td>
            <td>75,000</td>
            <td >50,000</td>
          </tr>
        
     
       </table>

       <div class="debtor-debt">
        <div class="debtor-debt2">
            <h3>Debts</h3> 
            <hr>
            <p>Total <span>-</span>  <span>₦854,000</span> </p>
            <p>Recovered <span>-</span> <span>₦854,000</span></p>
            <p>Balance <span>-</span><span>₦854,000</span></p>
        </div>
        
        <div class="debtor-debt2">
            <h3>Summary</h3> 
            <hr>
            <p>Debtors <span>-</span> <span>34</span></p>
            <p>Contends  <span>-</span><span>21</span></p>
        </div>
       
       </div>
    </div>
</html>
