<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debtors details</title>
    <link rel="stylesheet" href="views/css/debtorsdetails.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e6fa933e1.js" crossorigin="anonymous"></script>
</head>
<body onmousedown="returnfalse" onselect="returnfalse">
   
    <div class="wrapper">
      <header class="header">
        <nav class="sidebar">
          <ul>
            <li><img src="views/images/Logo.png" id="logo" alt="logo" /></li>
            <li>
              <a href="dashboard"
                ><i class="fa-brands fa-windows"></i> Dashboard</a
              >
            </li>
            <li>
              <a href="profile"><i class="fa-solid fa-user"></i> Profile</a>
            </li>
            <li>
              <a href="notification"
                ><i class="fa-solid fa-bell"></i> Notification</a
              >
            </li>
            <li>
              <a href="debtorlist"
                ><i class="fa-solid fa-user-check"></i> List of Debtors</a
              >
            </li>
            <li>
              <a href="contendlist"
                ><i class="fa-solid fa-calendar"></i> List of Contends</a
              >
            </li>
          </li>
          <li>
            <a href="settings"
              ><i class="fa-solid fa-gear"></i> Settings</a
            >
          </li>
            <li>
              <a href="faq"
                ><i class="fa-solid fa-question"></i> FAQ/Support</a
              >
            </li>
            <li>
              <form action="/logout?_method=DELETE" method="POST">
              <button
                class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white"
                type="submit"
              >
                Logout
              </button>
            </form>
            </li>
          </ul>
        </nav>
        <div class="container">
  
            <div class="blanket">
              <div class="school-logo">
                <img src="views/images/Image.png">
      
              <div class="top-left">
      
                <div class="logo-desc">
              <p> World of faith int'l school</p>
            <p><a href="">wordfaithinternational@gmail.com</a></p>  
               </div> 
                <p class="border-rotate"></p>
                 <p class="admin"><%= name %></p>
              </div>
              </div>
      
            <div> 
              <input  class="search" type="search" placeholder="search">
          </div>
        </div>
        <p class="bottom"></p>

        <div class="content">
            <div class="title">
                <p class="title-bold"><span><i class="fa-solid fa-arrow-left"></i></span>Debtors details</p>
                <p>Full details</p>
            </div>
    
            <div class="img-details">
                <img src="views/images/Debtors Image.png" alt="Debtors image" id="debt-img">

                <a href="addadebtor"><button id="edit-btn">Edit Details</button></a> 
                <a href="dashboard"> <button id="del-btn">Delete</button></a>
    
            </div>

            <div class="debt-details">

                <div class="detail-row">
                    <div class="fname">
                      <p class="label">Firstname</p>
                      <p class="word">Emmanuella </p>
                    </div>

                    <div class="lname">
                        <p class="label">Lastname</label>
                        <p class="word">Oladosu </p>
                      </div>
                    
                </div>

                <div class="detail-row">
                  <div class="fname">
                    <p class="label">Middlename</p>
                    <p class="word">Olabode </p>
                  </div>

                  <div class="Amount">
                      <p class="label">Amount Owed</p>
                      <p class="word">N 54000</p>
                  </div>
                  
                </div>

              <div class="detail-row">
                <div class="number">
                  <p class="label">Parent’s No</p>
                  <p class="word">+234 812 3456789 </p>
                </div>

                <div class="lname">
                  <p class="label">Parent’s Email</p>
                  <p class="word">ajaladavid75@gmail.com</p>
                </div>

              </div>

              <div class="detail-row">
                <div class="join-date">
                  <p class="label">Date joined</p>
                  <p class="word">12-09-2019 </p>
                </div>

                <div class="ex-date">
                    <p class="label">Exit Date</p>
                    <p class="word">12-09-2022</p>
                </div>

              </div>

            </div>
        </div>
        
        
</body>
</html>