<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width" initial-scale="1">
      <title>Debt Monitoring Agency</title>
      <link href="views/css/homepage.css" rel="stylesheet" type="text/css"/> 
      <link href="views/css/homepage2.css" rel="stylesheet" type="text/css"/> 
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
            </head>
            <body>
              <header class="hood">
                <div class="img"> <img src="views/images/Logo.png" alt="images" /></div>
                <!-- <div class="bx bx-menu" id="menu-icon"></div> -->
                <ul class="navlist">
                  <li><a href="/">Home</a></li>
                  <li><a href="About">About Us</a></li>
                  <li><a href="pricing">Pricing</a></li>
                  <li><a href="contact">Contact Us</a></li>
                </ul>
                <div class="h-btn">
                  <a href="login" class="login">Login</a>
                  <a href="register" class="register">Register</a>
                </div>
            </header>
            <hr>
            <section class="home" id="home"> 
      <div class="heading" >
        <h1> Easy Way To Manage <br> Debt Crisis In Your School</h1>
        <p>We help schools keep a track of debtors to control <br>and prevent financial fraud.</p>  
        <a href="" class="btn"> Register </a>
            </section>
            <section class="trusted" id="trusted">
              <div class="heading">
                <h2>Trusted by over 500+ schools</h2>
              </div>
              <div class="trusted-content">
                <div class="col">
              <img src="views/images/image 7.png">
            <h3> Word of Faith Int’l School</h3>
            </div>
                <div class="col">
                  <img src="views/images/image 11.png">
            <h3> Saint Mary’s Catholic School</h3>
            </div>
                <div class="col">
              <img src="views/images/image 10.png">
            <h3> UPSS</h3>
            </div>
              </div>    
            </section>
            <section class="who" id="who">
              <div class="header">
        <h2>Who We Are</h2>
        <p> My_Debtors  is a platform that allows schools within a<br>specified locality list directory of students owing them<br>to checkmate student debtors and help schools avoid<br>potential financial loss. </p>
         </div>
       <div class="who-content">
        <div class="box">
          <h3> Managment</h3>
        </div>
        <div class="box">
          <h3> Security</h3>
        </div>
        <div class="box">
          <h3> Community</h3>
        </div>
        </div>
        </section>
        <section class="subscription" id="subscriptions"> 
          <div class="heading">
  <h2>Our Subscription Plans</h2>
  </div>
  <div class="subscription-content">
    <div class="box-n" id="">
      <div class="">
        <h4> Basic Plan </h4>
        <h2> #1,000</h2>
        <h4> Per month</h4>
      </div>
        <div class="baser">
          <li>
            <p>&#x2022 Find debtors</p>
            <p>&#x2022 File case</p>
            <p>&#x2022 Customer care</p>
          </li>
        </div>
    </div>
      <div class="box-n" id="">
        <h4> Standard Plan </h4>
        <h2> #5,000</h2>
        <h4> Per month</h4>
        <li>
          <p>&#x2022 Find debtors</p>
          <p>&#x2022 Track debtor Relocation</p>
          <p>&#x2022 File case</p>
          <p>&#x2022 Customer care</p>
        </li>
      </div>
        <div class="box-n" id="">
          <h4> Premium Plan </h4>
          <h2> #10,000</h2>
          <h4> Per month</h4>
          <li>
            <p>&#x2022 Find debtors</p>
            <p>&#x2022 Track debtor Relocation</p>
            <p>&#x2022 Create registration alert</p>
            <p>&#x2022 File case</p>
          <p>&#x2022 Customer care</p>
          </li>
          </div>
      </div>
            </section>
<section class="we-do" id="we-do">
  <div class="what">
    <h2>What We do</h2>
    <p>We are dedicated to providing schools with up to date <br>data and helping guardians show commitment towards<br>paying ward’s tution.</p>
    <a href="" class="btn"> Register </a>
  </div>
</section>
<section class="schools" id="schools"> 
  <div class="heading">
<h2>What Schools Think About Us</h2>
</div>
<div class="schools-content">
<div class="box-m" id="">
<img src="views/images/Group 47.png" height="30px" >
<p> With  My_Debtor we’ve been able to
  fact check the financial history of 
  students before admission</p>
<li>
  <img src="views/images/image 7.png" height="40px">
  <p>Word of Faith Int’l School</p>
</li>
</div>
<div class="box-m" id="">
  <img src="views/images/Group 46.png" height="30px" >
  <p> Financial loss for our institution has reduced as we check the financial history of 
    students before admission</p>
  <li>
    <img src="views/images/image 11.png" height="40px" >
    <p>Word of Faith Int’l School</p>
  </li>
</div>
</section>
<hr width="100%">
<section class="registe" id="registe"> 
  <img src="views/images/Frame 44645.png">
  <div class="headed" >
    <h1> Register With Us Today</h1>
    <p>Experience a debt-free academic session and<br>better financial management with My_Debtors.</p>  
    <a href="" class="btn"> Register </a>
        </section>
      <section>
        <div></div>
        <div></div>
        <div></div>
      </section>
      <div class="copyright"> 
        <p> My_Debtors,2022 All rights reserved</p>
        <div class="icon">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
            <script type="text/javascript" src="script.js"></script>

</html>