<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e6fa933e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="views/css/reset.css">
</head>
<body onmousedown="return false" onselectstart="return false">
    <div class="container">
        <nav class="sidebar">
            <ul>
               <li><img src="views/images/logo.png" id="logo" alt="logo"></li>
               <li><a href="dashboard"><i class="fa-brands fa-windows"></i> Dashboard</a></li>
               <div class="prof" ><li id="prof"><a href="profile"><i class="fa-solid fa-user"></i> Profile</a></li></div>
                <li><a href="#Notification"><i class="fa-solid fa-bell"></i> Notification</a></li>
                <li><a href="#List of Debtors"><i class="fa-solid fa-user-check"></i> List of Debtors</a></li>
                <li><a href="#List of Contends"><i class="fa-solid fa-calendar"></i> List of Contends</a></li>
                <li><a href="#List of Contends"><i class="fa-solid fa-question"></i> FAQ/Support</a></li>
                <li><form action="/logout?_method=DELETE" method="POST">
              <button
                class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white"
                type="submit"
              >
                Logout
              </button>
            </form></li>
            </ul>
        </nav>
        <div class="con2">
            <div class="main">
                <h4 class="man">
                    <img src="views/images/pp.png">
                   </h4>
                </div>
           <div class="main2">
            <h4 class="wof">Word of Faith Int'l School</h4>
            <p class="wofi">wordfaithinternational@gmail.com</p>
           </div>
           <div class="main3">
            <img src="views/images/lin.png">
           </div>
           <div class="main4">
            <p><p>Welcome:  <%= name %></p></p>
            <hr class="line">
           </div>
           <li class="backbut"><a href="profile.html"><i class="fa fa-arrow-left"></i><p>Reset Password</p></a></i></li>
           <h6 class="backbut-sub">Reset password? Don't panic </h6>
           </div>
           <div class="contain">
                <div class="contain1">
                <div>
                <label for="smail">School Email</label>
                <br>
                <input type="email" id="smail" name="smail" placeholder="Kingsinternationalcollege@gmail.com">
                <button>Submit</button>
                </div>
                <p class="words">A six digit security code has been sent to your email.  Incase you can't find it, check spam folder or click this link</p>
                <div class="containn">
                    <div class="contain2">
                    <div>
                    <label for="code">Input Code</label>
                    <br>
                    <input type="number" id="code" name="smail" placeholder="345634">
                    </div>
                    <div class="containnn">
                        <div class="contain3">
                        <label class="pwrd" for="pword">New Password</label>
                        <br>
                        <input type="password" id="pword" name="pword" placeholder="**********">
                        </div>
                        <div class="cf">
                        <label for="pword">Confirm Password</label>
                        <br>
                        <input type="password" id="pword" name="pword" placeholder="**********">
                    </div>
                    
                </div>
                <div class="save">
                    <button  type="button"><a href="">Save</a></button>
                </div>
               
                        </div>
                <div>
    </div>
</body>
</html>