<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Schools</title>
    <link rel="stylesheet" href="views/css/Schools.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/1e6fa933e1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body onmousedown="return false" onselect="return false">
    <div class="wrapper">
      <header class="header">
        <nav class="sidebar">
          <ul>
            <li><img src="/views/images/Logo.png" id="logo" alt="logo" /></li>
            <li>
              <a href="dashboard"
                ><i class="fa-brands fa-windows"></i> Dashboard</a
              >
            </li>
            <li>
              <a href="profile"><i class="fa-solid fa-user"></i> Profile</a>
            </li>
            <li>
              <a href="notification"
                ><i class="fa-solid fa-bell"></i> Notification</a
              >
            </li>
            <li>
              <a href="addadebtor"
                ><i class="fa-solid fa-user-check"></i> List of Debtors</a
              >
            </li>
            <li>
              <a href="contendlist"
                ><i class="fa-solid fa-calendar"></i> List of Contends</a
              >
            </li>
          </li>
          <li>
            <a href="settings"
              ><i class="fa-solid fa-gear"></i> Settings</a
            >
          </li>
            <li>
              <a href="faq"
                ><i class="fa-solid fa-question"></i> FAQ/Support</a
              >
            </li>
            <li>
              <form action="/logout?_method=DELETE" method="POST">
              <button
                class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white"
                type="submit"
              >
                Logout
              </button>
            </form>
            </li>
          </ul>
        </nav>
      </header>
      <div class="container">
        <div class="blanket">
          <div class="school-logo">
            <img src="views/images/image 7.png" />

            <div class="top-left">
              <div class="logo-desc">
                <p>World of faith int'l school</p>
                <p><a href="">wordfaithinternational@gmail.com</a></p>
              </div>
              <p class="border-rotate"></p>
              <p class="admin">Admin</p>
            </div>
          </div>

          <div>
            <input class="search" type="search" placeholder="search" />
          </div>
        </div>
        <p class="bottom"></p>
        <div class="title">
          <p class="title-bold">
            <span><i class="fa-solid fa-arrow-left"></i></span>Schools
          </p>
          <p>List of Schools</p>
        </div>

        <div class="table">
          <div class="row header">
            <div class="col">S/N</div>
            <div class="col">Name of School</div>
            <div class="col">State</div>
          </div>

          <div class="row">
            <div class="col">Jane Done</div>
            <div class="col">Al-Azar secondary School, Lokoja</div>
            <div class="col">Lagos</div>
          </div>

          <div class="row">
            <div class="col">Ademola Seun</div>
            <div class="col">LEA Gwarinpa II School, Abuja</div>
            <div class="col">Lagos</div>
          </div>
          <div class="row">
            <div class="col">Sodiq Azeez</div>
            <div class="col">Hillside Primary School, Abuja</div>
            <div class="col">Lagos</div>
          </div>
          <div class="row">
            <div class="col">Mark Dane</div>
            <div class="col">Al-Azar secondary School, Lokoja</div>
            <div class="col">Lagos</div>
          </div>
          <div class="row">
            <div class="col">Iyke Love</div>
            <div class="col">Ansarudeen secondary school,Ikeja</div>
            <div class="col">Lagos</div>
          </div>
          <div class="row">
            <div class="col">Jane Dane</div>
            <div class="col">Ansarudeen secondary school,Ikeja</div>
            <div class="col">Lagos</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
