* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffcfc;
  color: #090c9b;
  width: 100%;
  height: 100vh;
}

.container {
  margin-left: 15%;
  height: 100vh;
  padding: 15px 30px;
}
a {
  text-decoration: none;
  color: #090c9b;
}
li {
  list-style: none;
  margin: 20px;
}
li img {
  width: 77px;
  height: 64px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 100vh;
  background: #ceceeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.school-logo {
  display: flex;
}
.search {
  border-radius: 30px;
  width: 200px;
  margin: 10px;
  text-align: center;
  border: 1.5px solid #080a81;
}
.blanket {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.top-left {
  display: flex;
}
.border-rotate {
  border-left: 1px #080a81 solid;
  width: 8px;
  margin: 7px;
}
.admin {
  text-align: center;
  margin-top: 25px;
}

.bottom {
  border-bottom: 1px rgb(232, 232, 236) solid;
  width: 1080px;
}

.card-group {
  text-align: center;
  cursor: pointer;
}

.card {
  background: #ceceeb;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 600px;
  margin: 50px auto;
}

.btm-border {
  border-bottom: 1px solid black;
  width: 300px;
}

#success-btn {
  color: white;
  background: #080a81;
  padding: 10px;
  width: 70px;
  display: flex;

  border: none;
  border-radius: 6px;
}
